{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

<script src="{{ asset('assets/home/home.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('/assets/home/home.css')}}">
<div class="wrapper">

    <h2>All Podcasts</h2>

    <div class="cards">
        <span  {% for p in podcasts %} >
        <figure class="card">

            <img src="http://i1285.photobucket.com/albums/a583/TheGreatOzz1/Hosted-Images/Noisy-Freeks-Image_zps4kilrxml.png" />
            <a  href="/podcast"><div title="play" class="playButton" >
            <img id="podPlayButt{{ p.id }}" onmouseover="changeButt(1,{{ p.id }})" src="{{ asset('assets/play.svg') }}"/>
           <a href="/podcast/{{ p.id }}"> <img id="podPlayButtFull{{ p.id }}" style="display: none" onmouseout="changeButt(2,{{ p.id }})" src="{{ asset('assets/play.gif') }}"/></a>

            </div></a>
            <figcaption>{{p.PodcastName }}</figcaption>

        </figure>


        </span>

        {% endfor%}
    </div>
    <h2>Playlists</h2>

    <div class="news">

        <figure class="article">

            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/news1.jpg" />

            <figcaption>

                <h3>Playlist 1</h3>

                <p>

                    Playlist Description Playlist Description Playlist Description Playlist Description
                </p>

            </figcaption>

        </figure>

        <figure class="article">

            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/news2.png" />

            <figcaption>

                <h3>Playlist 2</h3>

                <p>

                    Playlist Description Playlist Description Playlist Description Playlist Description

                </p>

            </figcaption>

        </figure>

    </div>

</div>
{% endblock %}