{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

<script src="{{ asset('assets/home/home.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('/assets/home/home.css')}}">
    <div class="wrapper">
    <h2>All Podcasts</h2>

        <div class="cards">

        <span {% for p in podcasts %}>
            <figure style="margin-left: 0px" class="card">
                    <div class="show">
                        <div class="show_image">
                            <a href="/podcast/{{ p.id }}">
                                <img class="podImg" src="{{ asset(  p.podcastImage) }}">
                                <div class="show_play_icon">
                                        <img src="{{ asset('assets/frontOffice/images/play.png')}}">

                                </div>
                                <div class="show_title_2">Cras malesuada ipsum sapien.</div>
                            </a>
                            <div class="show_tags">
                                <div class="tags">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li><a href="#">travel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </figure>
            {% endfor %}
        </span>

    </div>
    </div>
{% endblock %}