{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

    <script src="{{ asset('assets/home/home.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/home/home.css')}}">

    <div style="width: 100%;margin-bottom: 20px;margin-top: 50px" id="tagsWrapper">
        <button id="tag0" onclick="showPod(0)" class="badge-pill badge-light badgeTag">All</button>

        {% for tag in tags %}
            <button  id="tag{{ tag.id }}" onclick="showPod({{ tag.id }})" class=" badge-pill badge-dark badgeTag">{{ tag.name }}</button>
        {% endfor %}
    </div>
    <div id="allContent">
        {% if livePods is not empty%}
            <div class="wrapper">
                <h2>Currently Live <img src="{{ asset('assets/streaming/live.png') }}" style="margin-left: 20px" height="35" width="35"/></h2>

                <div class="cards">

        <span {% for p in livePods|reverse %}>
            <figure style="margin-left: 0px" class="card">
                    <div class="show" style="width: 100%">
                        <div class="show_image">
                             <div  class="podcastViews">{{ p.podcastViews }} Views</div>
                            <a href="/podcast/{{ p.id }}">
                                <img class="podImg" src=" {% if p.podcastImage is not null%}
                                {{ asset(  'Files/podcastFiles/'~p.podcastImage) }}
                                {% else %}
                                {{ asset('assets/home/defaultPod.png') }}
                                {% endif %}">
                                <div class="show_play_icon">
                                        <img src="{{ asset('assets/frontOffice/images/play.png')}}">

                                </div>
                                <div class="show_title_2">{{ p.podcastName }} </div>
                            </a>
                            {% if p.tagsList is not empty %}
                                <div class="show_tags">
                                <div class="tags">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                         {% for t in p.tagsList %}
                                             <li style="margin-bottom: 10px !important;;background-color: transparent"><button style="pointer-events:none;border-radius: 10px" class="badge-pill btn-{{ t.tagStyle }}" id="tag{{ t.id }}">{{ t.name }}</button></li>
                                         {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </figure>

        </span   {% endfor %}>

                </div>
            </div>

        {% endif %}


        <div class="wrapper">
            <h2>All podcasts</h2>

            <div class="cards">

        <span {% for p in podcasts|reverse %}>
            <figure style="margin-left: 0px" class="card">

                    <div class="show" style="width: 100%">
                        <div class="show_image">

                <a href="/podcast/{{ p.id }}">
                             <div  class="podcastViews">{{ p.podcastViews }} Views</div>
                                <img class="podImg" src="
                                {% if p.podcastImage is not null%}
                                {{ asset(  'Files/podcastFiles/'~p.podcastImage) }}
                                {% else %}
                                {{ asset('assets/home/defaultPod.png') }}
                                {% endif %}
                                ">
                                <div class="show_play_icon">
                                        <img src="{{ asset('assets/frontOffice/images/play.png')}}">

                                </div>
                                <div class="show_title_2">{{ p.podcastName }} </div>
                            </a>
{#                            <div class="show_user">#}
                            {#                                // user Avatar (moula l podcast)#}
                            {#                            </div>#}
                            {% if p.tagsList is not empty %}
                                <div class="show_tags">
                                <div class="tags">
                                    <ul>
                                        {% for t in p.tagsList %}
                                            <li style="margin-bottom: 10px !important;;background-color: transparent"><button style="pointer-events:none;border-radius: 10px" class="badge-pill btn-{{ t.tagStyle }}" id="tag{{ t.id }}">{{ t.name }}</button></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </figure>

        </span {% endfor %}>
            </div>
        </div>
    </div>
{% endblock %}