{% extends '/back_office/index.html.twig' %}

{% block title %}User{% endblock %}

{% block dashBoardContent %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>UserEmail</th>
                <td>{{ user.UserEmail }}</td>
            </tr>
            <tr>
                <th>IsAdmin</th>
                <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('back_office/user/_delete_form.html.twig') }}
{% endblock %}
