{% extends 'back_office/index.html.twig' %}

{% block dashBoardContent %}

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap" rel="stylesheet">
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2120269,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script><script async src="https://www.googletagmanager.com/gtag/js?id=G-Q3ZYEKLQ68"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q3ZYEKLQ68');
    </script>


    <div data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
        <div class="wrapper">
            <main class="content">
                <div class="container-fluid p-0">

                    <h1 class="h3 mb-3">List of the Playlist          </h1>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">

                                    <h6 class="card-subtitle text-muted">Display of all existing playlist in the system.</h6>
                                </div>
                                <div class="card-body">


                                    <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">Playlist Id</th>
                                            <th style="text-align: center">Playlist Name</th>
                                            <th style="text-align: center">Created In</th>
                                            <th style="text-align: center">Created By</th>
                                            <th style="text-align: center">Playlist Description</th>
                                            <th style="text-align: center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for playlist in playlist %}
                                            <tr >
                                                <td style="text-align: center">{{ playlist.id }}</td>
                                                <td id="" style="text-align: center">{{ playlist.playlistName }}</td>
                                                <td style="text-align: center">{{ playlist.playlistCreationDate|date('d-m-Y') }}</td>
                                                <td style="text-align: center">{{ playlist.ChannelId.ChannelName }}</td>
                                                <td style="text-align: center">{{ playlist.playlistDescription }}</td>
                                                <td>
                                                    <a href="{{ path('UpdatePlaylistAdmin',{ 'id':playlist.id })}}"><button class="btn btn-info " style="border-radius:8px;width: 40px"><i class="fa fa-edit"></i></button></a>
                                                    <a href="{{ path('DeletePlaylistAdmin',{ 'id':playlist.id })}}"><button class="btn btn-danger " style="border-radius:8px;width: 40px"><i class="fa fa-trash"></i></button></a>
                                                </td>
                                            </tr >
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Datatables Responsive
            $("#datatables-reponsive").DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}