{% extends 'back_office/index.html.twig' %}
{% block dashBoardContent %}
    <style>
        .podcastNameDiv{
            cursor:pointer;
        }
        .podcastNameDiv:hover{
            opacity: 0.7;
        }
    </style>
    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">All Report</h1>

            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Podcasts</h5>
                        </div>
                        <div class="card-body">
                            <table id="datatables-buttons" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Podcast Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr {% for p in podcasts  %}>
                                    <td class="podcastNameDiv"><a style="text-decoration: none;color:black" href="{{ path("reportsForPod", {'id': p.id}) }}">{{ p.PodcastName }}</a></td>
                                </tr {% endfor %}>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-9">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{% if podcast is not null %}{{ podcast.podcastName }} {% endif %}Reports
                                {% if reclamations is not null%}
                                    {% if podcast.isBlocked == 0 %}
                                    <a href="/podcastBlock/{{ podcast.id }}"><button style="margin-left: 15px;font-size: 12px" class="btn btn-danger">Block Podcast</button> </a>
                                    {% else %}
                                       <a href="/podcastBlock/{{ podcast.id }}"> <button style="margin-left: 15px;font-size: 12px" class="btn btn-success">Unblock Podcast</button> </a>
                                  {% endif %}
                                    <span style="float:right">Number of reports: <span style="{% if reclamations|length < 1 %}color:green;{% endif %}{% if reclamations|length > 10 %}color:red;{% endif %}">{{ reclamations|length }}</span></span>
                                {% endif %}
                            </h5>
                            {# <h6 class="card-subtitle text-muted">This extension provides a framework with common options that can be used with DataTables. See official documentation <a href="https://datatables.net/extensions/buttons/"target="_blank" rel="noopener noreferrer nofollow">here</a>.</h6> #}
                        </div>
                        <div class="card-body">
                            {% if reclamations is not null%}
                                {% if reclamations is not empty %}
                            <table id="datatables-buttons" class="table table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                   {# <th>Podcast</th> #}
                                    <th>User</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr {% for r in reclamations  %}>
                                    <td>{{ r.Type }}</td>
                                    <td>{{ r.Description }}</td>
                                    <td>
                                        {% if r.Status == 1 %}
                                        <span style="color:green;font-weight: bolder">Solved (Accepted)</span>
                                        {% endif %}
                                            {%if r.Status == -1 %}
                                        <span style="color:red;font-weight: bolder">Solved (Rejected)</span>
                                            {% endif %}
                                                {% if r.status == 0 %}
                                        <a href="/acceptReclamation/{{ r.id }}"><Button class="btn btn-success">Accept</Button></a>
                                        <a href="/rejectReclamation/{{ r.id }}"><Button class="btn btn-danger">Reject</Button></a>
                                        {% endif %}</td>
                                    {# <td>{{ r.PodcastId.id }}</td> #}
                                    <td><a href="/admin/{{ r.UserId.id }}">{{ r.UserId.userInfoId.userFirstName }} {{ r.UserId.userInfoId.userLastName }}</a></td>
                                    <td><a href="/deleteReclamation/{{ r.id }}">Delete</a></td>
                                </tr {% endfor %}>
                                </tbody>
                            </table>
                                    {% else %}
                                        <div style="height: 300px;margin: auto;text-align: center;font-size: 17px;padding-top:100px;color: black;font-weight: bolder">No reclamations to show for this podcast</div>

                                {% endif %}
                                {% else %}
                                <div style="height: 300px;margin: auto;text-align: center;font-size: 17px;padding-top:100px;color: black;font-weight: bolder">Select a podcast to show reclamations</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-left">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="#">Support</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#">Help Center</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#">Terms of Service</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 text-right">
                    <p class="mb-0">
                        &copy; 2020 - <a href="index.html" class="text-muted">AppStack</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}