{#{% extends 'podcast.html.twig' %}#}
{% extends 'base.html.twig' %}
{% block title %}Podcast{% endblock %}
{% block content %}
<link href="{{ asset('assets/podcastStyle/podcastStyle.css') }}" rel="stylesheet" type="text/css">

<div id="testPodcast" class="podcastDiv">
    <div class="player" id="player">
        <ul id="playerComponents">
            <li id="cover" class="cover"><img id="coverImg" src="http://i1285.photobucket.com/albums/a583/TheGreatOzz1/Hosted-Images/Noisy-Freeks-Image_zps4kilrxml.png"/></li>
            <li class="info" id="podInfo">
                <h1 class="h1Podcast">The Noisy Freaks</h1>
                <h4>Premiere</h4>
                <h2 class="h2Pod">I Need You Back</h2>

                <div class="button-items">
                    <audio id="music" preload="auto" loop="false">
                        <source src="https://dl.dropbox.com/s/oswkgcw749xc8xs/The-Noisy-Freaks.mp3?dl=1" type="audio/mp3">
                        <source src="https://dl.dropbox.com/s/75jpngrgnavyu7f/The-Noisy-Freaks.ogg?dl=1" type="audio/ogg">
                    </audio>
                    <div id="sliderDiv">
                        <div id="slider"><div id="elapsed"></div></div>
                        <div id="timer">04:20</div>
                    </div>
                    <div class="controls" id="controls">
                        <span>
                            <i id="play" onclick="changeStatus(1)" style="display: none" class="fa fa-play"></i>
                            <i id="stop" onclick="changeStatus(2)" class="fa fa-pause"></i>
                        </span>
                    </div>
                </div>
            </li>
            <li id="podcastTools" class="podcastTools">
                <i class="fa fa-flag" title="Report"></i>
                <i class="fa fa-bookmark" title="Save to favorites"></i>
            </li>
            <li title="Rate" onmouseout="turnWhite()" id="podcast Review" class="podcastReview">

                <span class="fa fa-star" onmouseover="turnGold(1)" id="star1"></span>
                <span class="fa fa-star" onmouseover="turnGold(2)" id="star2"></span>
                <span class="fa fa-star" onmouseover="turnGold(3)" id="star3"></span>
                <span class="fa fa-star" onmouseover="turnGold(4)" id="star4"></span>
                <span class="fa fa-star" onmouseover="turnGold(5)" id="star5"></span>

            </li>
        </ul>

    </div>
<br><br>
    <br>


        <div class="commentsContainer" id="commentsContainer">
            {% if comments is empty %}
                <h2 id ="noCom" class="commentsTitle">No comments yet</h2>
            {% else %}
                <h2 class="commentsTitle"><span id="commentsLength">{{ comments|length}}</span><span id="comText" style="margin-left: 10px"> Comment{% if comments|length >1 %}s{% endif %}</span>
                </h2>
            {% endif %}
            <input type="text" id="comment" onkeypress="checkKey(event)" name="comment" class="commentInput" placeholder="Add comment"/>
            <br><br>
            <div id="comments">
                {% if comments is empty %}
                 <ul class="user_comment" id="CommentsUL"></ul>
                {% endif %}
                <ul {% for comment in comments|reverse %} class="user_comment" id="CommentsUL">
                    <div id="comment{{ comment.id }}">
                    <!-- current #{user} avatar -->
                    <div class="user_avatar">
                        <img src="/assets/donut.png">
                    </div>
                    <div class="comment_toolbar">

                        <!-- inc. date and time -->
                        <div class="comment_details">
                            <ul>
                                <li><span class="user"> {{ comment.userId.userInfoId.userFirstName }} {{ comment.userId.userInfoId.userLastName }}</span></li>
                                <li style="float:right;margin-right: 10%"><i class="fa fa-calendar"></i> {{ comment.commentDate|date('d M Y') }} </li>
                            </ul>
                        </div><!-- inc. share/reply and love -->
                        <div class="comment_tools">
                            <span id="deletingMsg{{ comment.id }}" class="deleteingComment">Deleting comment...</span>
                            <div class="trash"><i onclick="deleteComment({{comment.id }})" class="fa fa-trash"></i></div>
                        </div>

                    </div>
                    <!-- the comment body -->
                    <div  class="commentContainer">
                        <div class="commentText">
                            {{ comment.commentText }}
                        </div>
                    </div>
                    <br><br><br>
                    </div>
                </ul  {% endfor %}>

            </div>
    </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{{ asset('assets/podcastStyle/reloadComments.js') }}"></script>
{% endblock %}