<h1>Nouveau contact</h1>
<p> firstname : {{ contact.firstname }}</p>
<p> lastname : {{ contact.lastname }}</p>
<p> phone : {{ contact.phone }}</p>
<p> email : {{ contact.email }}</p>
<p> message : {{ contact.message|raw }}</p>


