<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PodTasty -  {% block title%}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="My Podcast template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="{{ asset('/assets/font-awesome.min.css') }}" rel="st  ylesheet" type="text/css">
    <link href="{{ asset('/assets/colorbox.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/main_styles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/responsive.css')}}">
    {#
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/chaine/bootstrap.min.css')}}">
    <link href="{{ asset('/assets/chaine/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/assets/chaine/colorbox.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/chaine/blog.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/chaine/blog_responsive.css')}}"> #}


</head>
<body>
<div class="parallax-mirror" style="visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; height: 767.862px; width: 1519.2px; transform: translate3d(0px, 529.238px, 0px);"><img class="parallax-slider" src="{{ asset('/assets/weekly.webp')}}" style="position: absolute; height: 767px; width: 1519.2px; max-width: none; transform: translate3d(0px, -115.848px, 0px);"></div>
<div class="super_container">

    <header class="header trans_400">

        <div class="logo">
            <a href="https://preview.colorlib.com/theme/mypodcast/#"> <img style="height:50px;margin-right:10px" src="{{ asset('/assets/donut.png')}}"><span>Pod</span>Tasty</a>
        </div>
        <div class="container">

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                        <nav class="main_nav">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="/signUp">Home</a></li>
                                <li><a href="/AfficheChannels">About</a></li>
                                <li><a href="/AffichePlaylists">Playlists</a></li>

                                <li><a href="/AjoutPlaylist">Add playlist</a></li>
                                <li><a href="/AjoutChannel">Create your channel</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body> <div class="font-color table container1">
            {% block content %}

            {% endblock %}
    </div>
    </body>


                <br><br>
                Copyright ©<script type="text/javascript" async="" src="./../public/assets/analytics.js.téléchargement"></script><script>document.write(new Date().getFullYear());</script>2021 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>

            </div>
        </footer>
<script src="{{ asset('/assets/jquery-3.3.1.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/popper.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/bootstrap.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/TweenMax.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/TimelineMax.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/ScrollMagic.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/animation.gsap.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/ScrollToPlugin.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/easing.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/jquery.colorbox-min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/progressbar.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/parallax.min.js.téléchargement')}}"></script>
<script src="{{ asset('/assets/custom.js.téléchargement')}}"></script>

<script async="" src="{{ asset('/assets/js')}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

{#<div id="cboxOverlay" style="display: none;"></div>#}
{#    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">#}
{#        <div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div>#}
{#        <div id="cboxTopCenter" style="float: left;"></div>#}
{#        <div id="cboxTopRight" style="float: left;"></div>#}
{#    </div>#}
{#    <div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div>#}
{#    <div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div>#}
{#    <div id="cboxCurrent" style="float: left;"></div>#}
{#    <button type="button" id="cboxPrevious"></button>#}
{#    <button type="button" id="cboxNext"></button>#}
{#    <button type="button" id="cboxSlideshow"></button>#}
{#    <div id="cboxLoadingOverlay" style="float: left;"></div>#}
{#    <div id="cboxLoadingGraphic" style="float: left;"></div></div>#}
{#    <div id="cboxMiddleRight" style="float: left;"></div>#}
{#    </div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;">#}

</div>

</body></html>