{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block content %}


	<div class="container is-fluid">
		<div class="columns   is-5-desktop">
			<div class="column is-half-desktop ">


				<div class="card mb-4 border-info  bg-transparent">


					<div id="postImage" class="card-image is-hidden">
						<figure class="image  is-50x50">
							<img id="output" src="" alt="Placeholder image">
							<button class="delete is-large" onclick="nahi(event)"></button>
						</figure>
					</div>
					<script>
						var nahi = function () {
var element = document.getElementById("postImage");
element.classList.add("is-hidden");
var fi = document.getElementById("fileinput");
fi.value = "";

}
					</script>

					{{ form_start(formPost)}}
					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
									<a href=""><img src="{{ asset('/Files/podcastFiles/' ~ currentUser.UserInfoId.userImage ) }}" class="is-rounded" alt="Placeholder image"></a>
								</figure>
							</div>
							<div class="media-content ">
								<p class="title is-4 has-text-white">{{currentUser.UserInfoId.userFirstName}}{{currentUser.UserInfoId.userLastName}}</p>
								<p class="subtitle is-6 has-text-info">@{{currentUser.UserInfoId.userFirstName}}{{currentUser.UserInfoId.userLastName}}</p>
							</div>
						</div>

						<div class="content">

							{{ form_widget(formPost.text)}}


						</div>

					</div>
					<div class="card-footer text-center">


						<div class="file mr-3" onchange="loadFile(event)">
							<label class="file-label">
								{{ form_widget(formPost.postImage)}}
								<span class="file-cta">
									<span class="file-icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewbox="0 0 16 16">
											<path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
											<path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
										</svg>
									</span>
									<span class="file-label">
										Add image
									</span>
								</span>
							</label>
						</div>

						<button class="button is-info is-outlined" type="submit">Post</button>


						<button class="button is-primary is-outlined ml-3">{{ form_widget(formPost.privacy)}}
							<span class="ml-1">only for followers</span>
						</button>

					</div>
					{{ form_end(formPost)}}
				</div>


				<script>
					var loadFile = function (event) {
var reader = new FileReader();
var element = document.getElementById("postImage");
element.classList.remove("is-hidden");
reader.onload = function () {
var output = document.getElementById('output');
output.src = reader.result;
};
reader.readAsDataURL(event.target.files[0]);
};
				</script>


				{% for post in posts %}

					<div class="card mb-4 border-info  bg-transparent">

						{% if post.postImage %}
							<div class="card-image ">
								<figure class="image  ">
									<img class="w-100 mh-50" src="{{ asset('posts/' ~ post.postImage) }}" alt="Placeholder image">
								</figure>
							</div>
						{% endif %}

						<div class="card-content  ">

							<div class="media">
								<div class="media-left">
									<figure class="image is-48x48  ">
										<img src="{{ asset('/Files/podcastFiles/' ~ post.user.userImage ) }}" class="is-rounded is-1by1 " alt="Placeholder image">
									</figure>
								</div>
								<div class="media-content">
									<p class="title is-4 has-text-white">{{post.user.userFirstName}}
										{{post.user.userLastName}}</p>
									<p class="subtitle is-6 has-text-info">
										<a style="text-decoration: none;" href="{{path('profile',{'id':post.user.id})}}">@{{post.user.userFirstName}}{{post.user.userLastName}}</a>
									</p>
								</div>
							</div>

							<div id="postContent" class="content has-text-white">
								{{post.text}}


								<br>
								<time datetime="2016-1-1" class="has-text-info">{{post.createdAt|date("F jS \\a\\t g:ia") }}</time>
							</div>

						</div>
						<div class="card-footer text-center">
							<div class="content mt-2 mr-3 has-text-white">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill " viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
								</svg>
							</div>
							<input class="input is-rounded" type="text" placeholder="Write a comment...">


						</div>
						{% if post.user.id == currentUser.id %}
							<a href="{{path('d',{'id':post.id})}}">
								<button class="delete is-large"></button>
							</a>


						{% endif %}

					</div>
				{% endfor %}
			</div>


			<style>
				
				.ando {
					border-style: outset;
					
					padding: 3px
				}
				.not-seen {
					
					border-color: red;
					
				}

				.seen {
					border-color: grey;
					
					
				}
			</style>
			<div class="column  is-one-quarter-desktop "></div>
			<div class="column  is-one-quarter-desktop ">


				<figure class="image is-128x128 is rounded mb-6">
					<a href="{{path('story1',{'id':currentUser.UserInfoId.id})}}"><img class="is-rounded {% if currentUser.UserInfoId.stories|length > 0  %} ando {% endif %} " src="{{ asset('/Files/podcastFiles/' ~ currentUser.UserInfoId.userImage ) }}" alt="Placeholder image"></a>
				</figure>
				<br>
				{% for following in followings %}
					
				{% for story in following.stories %}
					{% if loop.last %}
						{% if currentUser.UserInfoId in story.views %}
							laaaaaaaaaaaaaaaaaaaaaaaaaa
						{% endif %}
					{% endif %}
				{% endfor %}
				<figure class="image is-128x128 is rounded ">
					<a href="{{path('story1',{'id':following.id})}}"><img class="is-rounded {% if following.stories|length > 0  %} ando {% endif %}    " src="{{ asset('/Files/podcastFiles/' ~ following.userImage ) }}" alt="Placeholder image"></a>
				</figure>
				{% endfor %}

			</div>


		</div>
	</div>


{% endblock %}
