{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block content %}

	<div class="container">

        <div id="carouselExampleIndicators" class="carousel slide w-50" data-ride="carousel">
  <ol class="carousel-indicators">
  {% for story in stories %}
      
  
    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first  %} class="active"{% endif %}>
     </li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for story in stories %}
    <div class="carousel-item {% if loop.first  %} active {% endif %} ">
      <img class="d-block w-100" src="{{ asset('posts/' ~ story.storyImage ) }}" alt="First slide">
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

	</div>

	{{ form_start(formStory)}}

	<div class="file mr-3" >
		<label class="file-label">
			{{ form_widget(formStory.storyImage)}}
			<span class="file-cta">
				<span class="file-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewbox="0 0 16 16">
						<path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
						<path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
					</svg>
				</span>
				<span class="file-label">
					Add image
				</span>
			</span>
		</label>
	</div>
    <button class="button is-info is-outlined" type="submit">Post</button>
    {{ form_widget(formStory.privacy)}}faza
    {{ form_end(formStory)}}
    




{% endblock %}
