{% extends 'back_office/index.html.twig' %}
{% block dashBoardContent %}
    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">All Podcasts</h1>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Podcasts</h5>
                            {# <label for="site-search" ></label> #}
                            <div class="col-sm-12 col-md-6">
                            <input type="search" id="site-search" name="q"
                                   aria-label="Search through site content" placeholder="search podcasts">
                            <button type="button" class="btn btn-outline-light">Search</button>

                        </div>
                        </div>
                        <div class="card-body">
                            <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>PodcastName</th>
                                    <th>PodcastDescription</th>
                                    <th>PodcastViews</th>
                                    <th>PodcastDate</th>
                                    <th>PodcastImage</th>
                                    <td>Actions</td>
                                </tr>
                                </thead>
                                <tbody>

                                <tr {% for p in podcasts %}>
                                    <td>{{ p.PodcastName }}</td>
                                    <td>{{ p.PodcastDescription }}</td>
                                    <td>{{ p.podcastViews }}</td>
                                    <td>{{ p.PodcastDate | date('d-m-Y') }}</td>
                                    <td><img src="{{ asset(  'Files/podcastFiles/'~p.podcastImage) }}" width="50" height="50"></td>
                                    <td><a href="{{ path('SuppPodcast',{'id':p.id}) }}"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                                        <a href="/adminPodcast/{{ p.id }}"><button type="button" class="btn btn-info" title="Open"><i class="fa fa-external-link-alt"></i></button ></a></td>

                                </tr {% endfor %}>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>



{% endblock %}