{% extends "base.html.twig" %}
{% block title %}Add Podcast{% endblock %}
{% block content %}
    <link href="{{ asset('assets/podcastStyle/podcastStyle.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('assets/podcastStyle/addPodcast.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <input id="deleteReviewButton"  data-toggle="modal" data-target="#addPodcastModal" style="margin-left:100px;width: 150px;" class="btn btn-danger" type="button" value="{{ type }}"/>

    <div style="z-index:99999" class="modal fade" id="addPodcastModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">



        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ type }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="newReviewBody" class="modal-body">
        {{ form_start(form) }}
        <!-- carousel-->
        <div id="carouselExampleControls" class="carousel slide">
            <div class="carousel-inner">
                {% if type == 'Add podcast' %}
                <div id="podCarItem1" class="carousel-item fileCarousel active">
                    <div class="field center">

                        <p  class="control has-icons-left has-icons-right">
                            <button onclick="openFileLoader()" style="margin-left: 80px;width:150px"  class="btn btn-info">
                                Upload file <i style="font-size: 17px;margin-left: 7px" class="fa fa-upload"></i>
                            </button>
                            <label style="margin-left: 10px" id="podcastAudioName"></label>
                            <span style="opacity: 0">
                            {{ form_label(form.PodcastSource,"Podcast :") }}
                            {{ form_widget(form.PodcastSource,{'attr':{'placeholder' : 'Votre Podcast'}}) }}

                                </span>

                            {{ form_errors(form.PodcastSource) }}
                        <div id="podcastSpinner">
                            <br><br>

                            <div class="spinner-grow playerSpinner" role="status">
                            </div>
                        </div>
                        </p>
                    </div>

                </div>
                {% endif %}
                <div id="podCarItem2" class="carousel-item {% if type == 'Set up your stream' %}active{% endif %}">
                    <div class="field center">
                <p class="control has-icons-left has-icons-right">
                    {{ form_errors(form.PodcastName) }}
                    {{ form_label(form.PodcastName,"Nom de Podcast :") }}
                    {{ form_widget(form.PodcastName,{'attr':{'class' : 'form-control'}}) }}
                </p>

            <div class="field center">
                <p class="control has-icons-left has-icons-right">
                    {{ form_errors(form.PodcastDescription) }}
                    {{ form_label(form.PodcastDescription,"Description :") }}
                    {{ form_widget(form.PodcastDescription,{'attr':{'class' : 'form-control'}}) }}
                </p>
            </div>
                 {#  <br>
                        <br>
                        <i class="fa fa-calendar"></i>#}
                        {#<label for="date">Date:</label> #}
                       {# {{ form_errors(form.PodcastDate) }}
                        {{ form_label(form.PodcastDate,"Date :") }}
                        {{ form_widget(form.PodcastDate,{'attr':{'placeholder' : 'le Date de votre Podcast',}}) }}
                        </p>
                    #}
                    </div>
            <div class="field center">
                <p class="control has-icons-left has-icons-right">
                    {{ form_errors(form.PodcastImage) }}
                    {{ form_label(form.PodcastImage,"Image de Podcast :") }}
                    {{ form_widget(form.PodcastImage,{'attr':{'class' : 'form-control-file'}}) }}

                <div class="field center">
                    <p style="margin-top: 20px;margin-bottom: 20px;padding: 5px" class="control has-icons-left has-icons-right">
                        Tags:
                        {% for tag in tags %}
                            <span onclick="addRemoveTag({{ tag.id }})" class="btn btn-light" style="cursor:pointer;border-radius: 20px" id="{{ tag.id }}">{{ tag.name }}</span>
                        {% endfor %}
                        <div>
                            {{ form_widget(form.tags) }}
                    </div>
                    </p>
                </div>
                    </div>

                    {{ form_end(form) }}
                </div>
{#                <div id="carItem3" style="padding-top: 0" class="carousel-item">#}
{#                    <div class="spinner-grow " role="status">#}
{#                    </div><br>#}
{#                    <span class="reviewText"> One moment...</span><br>#}

{#                    <span class="reviewText"> Have a#}
{#                                <img title="Donut" alt="donut" width="35" src="{{ asset('assets/RealDonut.png')}}"/> while you wait</span><br>#}
{#                </div>#}

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
    </div>
        </div>
    </div>
{% endblock %}